* {
    margin:0;
    padding: 0;
}

a{
    color:white;
    text-decoration: none;
    transition: 0.2s;
}

a:hover{
    opacity: 0.5;
}

.logo{
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'PT Serif', serif;
    background: burlywood;
    height: 8vh;
}

main{
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 40%;
    margin-left: 10em;
    margin-right: 10em;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 2px;
    margin-left: 30px;
}

body{
    background-color: lavender;
    font-family: 'Amiri', serif;
    margin-left: 0px;
    margin-top: 0px;


}

h1{
    color:burlywood;
    font-family: 'PT Serif', serif;
}

.citacao{
    display:flex;
    align-items: center;
    color: burlywood;
    text-shadow: 20%;
    
}
.imagens1{
    display: inline;
}

.imagens2{
    display: inline;
}

.rodape{
    font-family: 'PT Serif', serif;
    background-color: whitesmoke;
    text-align: left;
    margin-top: 5%;
    position: static;
    left: 0;
    bottom: 100%;
    
}