body{
    background-color: lavender;
    font-family: 'Amiri', serif;
    margin-left: 0px;
    margin-top: 0px;
  


}

@media screen and (max-width:500px){
    .main a{
        float:none;
        display: block;
        text-align: left;
    }

    .a header {
        float: none;
        background-color: aquamarine;
    }
}

* {
    margin:0;
    padding: 0;
}

a{
    color:white;
    text-decoration: none;
    transition: 0.2s;
}

a:hover{
    opacity: 0.5;
}

.logo{
    font-size: 23px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'PT Serif', serif;
    background: burlywood;
    height: 8vh;
}

main{
    align-items: center;
    background-color: whitesmoke;
    box-shadow: 40%;
    margin-left: 10em;
    margin-right: 10em;
    margin-bottom: 0;
    padding: 20px;
    height: 100%;
}

.nav-list{
    list-style: none;
    display: flex;
}

.nav-list li{
    letter-spacing: 2px;
    margin-left: 30px;
}



h1{
    color:burlywood;
    font-family: 'PT Serif', serif;
}

.citacao{
    display:flex;
    flex-direction: column;
    align-items: center;
    color: burlywood;
    text-shadow: 20%;
    text-align: center;
    padding: 40px
    
}
.imagens1{
    display: inline;
}

.imagens2{
    display: inline;
}

.rodape{
    font-family: 'PT Serif', serif;
    background-color: whitesmoke;
    text-align: left;
    margin-top: 5%;
    position: inherit;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px;
}

.rodape h1{
    font-size: 20px;
}

.rodape p{
    font-size: 13px;
}